.ml-10 {
  margin-left: 10px;
}

.ml--20 {
  margin-left: -20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-25 {
  margin-right: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.color-red {
  color: red;
}

.color-blue {
  color: rgb(7, 79, 128);
}

.color-green {
  color: rgb(2, 99, 7);
}

.text-wrap {
  word-wrap: break-word;
  word-break: normal;
}

.flex-div {
  display: flex;
  justify-content: center;
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal {
    top: 0;
  }
}
